<!-- update_quiz.html -->
{% extends "root.html" %}
{% block content %}
<div>
    <h1>Update Quiz</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <form method="post" action="{% url 'quiz:delete_quiz' quiz.id slug %}">
        {% csrf_token %}
        <button type="submit">Delete Quiz</button>
    </form>
    
    
    <a href="{% url 'quiz:question_list' quiz.id  %}">View Questions</a>
</div>
{% endblock content %}

