{% extends 'snippets/student.html' %}
{% block student_block %}
{#<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">#}
{#        {% for i in a %}#}
{#      <div class="col">#}
{#      <a href="">#}
{#        <div class="card card-cover overflow-hidden text-bg-dark rounded-4" style="background-image: url('{{ course_type.category_image }}');">#}
{#          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">#}
{#              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ course_type.name }}</h3>#}
{#            <ul class="d-flex list-unstyled mt-auto">#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#      </a>#}
{#      </div>#}
{#        {% endfor %}#}
{#    </div>#}

    {% for i in a %}
        {{ i.video_file }}
        {{ i.description }}

    {% endfor %}
{% endblock %}