{% extends 'root.html' %} {% block content %}
<h1>Mentor Content</h1>
<button id="add-course-button"  data-bs-toggle="modal" data-bs-target="#addCategoryModal">Add/Update Content</button>
<h4><a class="nav-link" href="{% url 'quiz:quizzes' slug=slug %}" style="color:blue">Create Quiz</a></h4>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Video List</h1>
      <div class="row">
        {% for video in courses %}
        <div class="col-md-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5
                class="card-title video-title"
                onclick="openModal('{{ video.video_file.url }}')"
              >
                {{ video.title }}
              </h5>
              <!--<p class="card-text">{{ video.description }}</p>-->
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-3">
      <div class="text-right">
        <a href="" class="btn btn-primary">Download Course Materials</a>
        <!-- Add any additional functionalities or buttons here -->
      </div>
    </div>
  </div>
</div>

<!-- Video Modal -->
<div
  class="modal"
  id="videoModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  style="max-width: 100px 700px"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="close"
          onclick="closeModal()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="embed-responsive embed-responsive-16by9">
          <video
            class="embed-responsive-item"
            controls
            id="modalVideo"
            style="width: 100%; height: 100%"
          >
            <source src="" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function openModal(videoSrc) {
    var modal = document.getElementById("videoModal");
    var modalVideo = modal.querySelector("#modalVideo");
    modalVideo.src = videoSrc;
    modal.style.display = "block";
  }

  function closeModal() {
    var modal = document.getElementById("videoModal");
    var modalVideo = modal.querySelector("#modalVideo");
    modalVideo.src = "";
    modal.style.display = "none";
  }
</script>





<!-- Add the following modal code -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="addCategoryModalLabel">Add/Update Content</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary">Update</button>
              </form>
          </div>
      </div>
  </div>
</div>

<!-- Include Bootstrap JS library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

{% endblock%}
